.select-container {
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.select-label {
  font-weight: bold;
  display: block;
  font-size: 1.3rem;
}

.select-dropdown {
  width: 265px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
