html {
  font-size: 62.5%;
}

.container {
  max-width: 900px;
  width: 90%;
  margin: 0 auto 100px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}

.displayFlex {
  display: flex;
  justify-content: space-between;
}

.dataArea {
  width: 550px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  font-size: 1.6rem;
}

th:first-child,
td:first-child {
  width: 75%;
}

th,
td {
  padding: 20px 20px 20px 0;
  border-bottom: 1px solid rgba(19, 19, 19, 0.4);
}

@media screen and (max-width: 1024px) {
  .dataArea {
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .displayFlex {
    flex-direction: column;
    justify-content: space-between;
  }

  .selectArea {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .dataArea {
    width: 100%;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  th,
  td {
    font-size: 1.4rem;
  }

  th:first-child,
  td:first-child {
    width: 68%;
  }
}
